<h1>LongestWordGames#score</h1>
<h1>Your word: <%= @attempt %></h1>
<h1>Time Taken to answer : <%= @result[:time] %>s</h1>
<h1>Translation: <%= @result[:translation] %></h1>
<h1>Your score: <%= @result[:score] %></h1>
<h1>Message: <%= @result[:message] %></h1>
